<h1> Photos </h1>


<%= form_tag root_path, method: :get do %>
  <%= label_tag :user_id %>
  <%= text_field_tag :user_id %>
  <%= submit_tag 'Search User Pictures' %>
<% end %>
<% @user_photos.each do |photo| %>
  <%= image_tag "https://live.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}.jpg" %>
<% end %>

<% @recent_photos.each do |photo| %>
  <%= image_tag "https://live.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}.jpg" %>
<% end %>
